{% load static %}
<!-- Admin Navigation Bar -->
<nav class="navbar">
    <div class="logo-container">
        <img class="logo" src="{% static 'images/logostick.png' %}" alt="Logo">
        <div class="logo1">TRIPLE<a href="#">G</a></div>
    </div>
    <ul class="nav-links" id="navLinks">
        <li><a href="{% url 'admin_side:admin_home' %}">Dashboard</a></li>
       
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Portfolio <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
               <li><a href="{% url 'portfolio:projectmanagement' %}">Project Management</a></li>
                <li><a href="{% url 'blog:blogmanagement' %}">Blog Management</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Site Diary Management <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'site_diary:admindiaryreviewer' %}">Diary Review</a></li>
                <li><a href="{% url 'site_diary:adminhistory' %}">Diary History</a></li>
                <li><a href="{% url 'site_diary:adminreports' %}">Reports & Analytics</a></li>
                <li><a href="{% url 'site_diary:adminclientproject' %}">Client Projects</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Admin Tools <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'chatbot:adminmessagecenter' %}">Message Center</a></li>
                <li><a href="{% url 'admin_side:admin_settings' %}">Settings</a></li>
            </ul>
        </li>

    </ul>
    <button class="mobile-menu-btn">
        <i class="fas fa-bars"></i>
    </button>
</nav>
