{% load static %}
<nav class="navbar">
    <div class="logo-container" onclick="window.location.href='{% url 'site:dashboard' %}'">
        <img class="logo" src="{% static 'images/logostick.png' %}" alt="Logo">
        <div class="logo1">TRIPLE<a>G</a></div>
    </div>
    
    <ul class="nav-links" id="navLinks">
        <!-- General Pages -->
        <li><a href="{% url 'site:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'chatbot:chatbot' %}">Message Center</a></li>
        <li><a href="{% url 'site:newproject' %}">Create Project</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Blog ▾</a>
            <div class="dropdown-content">
                <a href="{% url 'site:createblog' %}">Create Blog</a>
                <a href="{% url 'site:drafts' %}">Drafts</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Site Diary ▾</a>
            <div class="dropdown-content">
                <a href="{% url 'site:diary' %}">New Entry</a>
                <a href="{% url 'site:sitedraft' %}">Drafts</a>
                <a href="{% url 'site:history' %}">History</a>
                <a href="{% url 'site:reports' %}">Reports</a>
            </div>
        </li>
        <li><a href="{% url 'site:settings' %}">Settings</a></li>
    </ul>
    <button class="mobile-menu-btn" id="mobileMenuBtn">
        <i class="fas fa-bars"></i>
    </button>
</nav>
