services:
  - type: web
    name: tripleg-blog
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DEBUG
        value: False
      - key: USE_S3
        value: False
    staticPublishPath: ./staticfiles